/* Definicion de estilos css en un archivo externo
3. CSS externos */
body{
    background-color: rgb(75, 98, 128);
    color: white;
}
a{
   color: hotpink;
}
a:hover{
    color: yellow;
}

/* Clases o selectores en CSS */
.texto-centrado{
    text-align: center;
}
.titulo{
    font-size: 200%;
}

